<img src="" width="150" style="float:left">
<div style="clear:both"></div>
Rafa≈Ç Nowak<br/>
<a href="https://github.com/rnoxy">github.com/rnoxy</a>

# `pandas`

# Instalacja pakietu

In [1]:
%pip install pandas

Requirement already satisfied: pandas in /Users/rno/opt/miniconda3/envs/nn/lib/python3.9/site-packages (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/rno/opt/miniconda3/envs/nn/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/rno/opt/miniconda3/envs/nn/lib/python3.9/site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.20.0 in /Users/rno/opt/miniconda3/envs/nn/lib/python3.9/site-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /Users/rno/opt/miniconda3/envs/nn/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

# Import

In [2]:
import pandas as pd

# Podstawowe zbiory danych

In [3]:
df = pd.DataFrame(
    data={
        "a": [3, 4, 5],
        "b": [1, 3, 90],
        "category": ["cat", "dog", "car"]
    }
)

In [4]:
df

   a   b category
0  3   1      cat
1  4   3      dog
2  5  90      car

# Wczytywanie danych z pliku

## Zbi√≥r danych *Wine+Quality*

≈∫r√≥d≈Ço zbioru danych: https://archive.ics.uci.edu/ml/datasets/Wine+Quality

In [5]:
!wget \
   https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-white.csv \
   -O datasets/winequality-white.csv

--2022-06-17 19:48:34--  https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-white.csv
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 264426 (258K) [application/x-httpd-php]
Saving to: ‚Äòdatasets/winequality-white.csv‚Äô

datasets/winequalit 100%[===================>] 258,23K   342KB/s    in 0,8s

2022-06-17 19:48:36 (342 KB/s) - ‚Äòdatasets/winequality-white.csv‚Äô saved [264426/264426]

In [6]:
df = pd.read_csv('datasets/winequality-white.csv', sep=';')
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
...,...,...,...,...,...,...,...,...,...,...,...,...
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6

In [7]:
df.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

In [8]:
df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000
mean,6.854788,0.278241,0.334192,6.391415,0.045772,35.308085,138.360657,0.994027,3.188267,0.489847,10.514267,5.877909
std,0.843868,0.100795,0.121020,5.072058,0.021848,17.007137,42.498065,0.002991,0.151001,0.114126,1.230621,0.885639
min,3.800000,0.080000,0.000000,0.600000,0.009000,2.000000,9.000000,0.987110,2.720000,0.220000,8.000000,3.000000
25%,6.300000,0.210000,0.270000,1.700000,0.036000,23.000000,108.000000,0.991723,3.090000,0.410000,9.500000,5.000000
50%,6.800000,0.260000,0.320000,5.200000,0.043000,34.000000,134.000000,0.993740,3.180000,0.470000,10.400000,6.000000
75%,7.300000,0.320000,0.390000,9.900000,0.050000,46.000000,167.000000,0.996100,3.280000,0.550000,11.400000,6.000000
max,14.200000,1.100000,1.660000,65.800000,0.346000,289.000000,440.000000,1.038980,3.820000,1.080000,14.200000,9.000000

## Zbi√≥r danych *AirQuality*
≈∫r√≥d≈Ço danych: https://archive.ics.uci.edu/ml/datasets/Air+quality

*Uwaga*: warto zauwa≈ºyƒá, ≈ºe w zbiorze znajdujƒÖ siƒô puste kom√≥rki --> **brakujƒÖce dane** (ang. *missing data*).

In [9]:
!wget \
  https://archive.ics.uci.edu/ml/machine-learning-databases/00360/AirQualityUCI.zip \
  -O datasets/AirQualityUCI.zip
!unzip -o datasets/AirQualityUCI.zip -d datasets

--2022-06-17 19:48:36--  https://archive.ics.uci.edu/ml/machine-learning-databases/00360/AirQualityUCI.zip
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1543989 (1,5M) [application/x-httpd-php]
Saving to: ‚Äòdatasets/AirQualityUCI.zip‚Äô

datasets/AirQuality 100%[===================>]   1,47M  1,04MB/s    in 1,4s

2022-06-17 19:48:38 (1,04 MB/s) - ‚Äòdatasets/AirQualityUCI.zip‚Äô saved [1543989/1543989]

Archive:  datasets/AirQualityUCI.zip
  inflating: datasets/AirQualityUCI.csv
  inflating: datasets/AirQualityUCI.xlsx

In [10]:
df = pd.read_csv("datasets/AirQualityUCI.csv", sep=";")

In [11]:
df.describe()

,PT08.S1(CO),NMHC(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),Unnamed: 15,Unnamed: 16
count,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,0.0,0.0
mean,1048.990061,-159.090093,894.595276,168.616971,794.990168,58.148873,1391.479641,975.072032,NaN,NaN
std,329.832710,139.789093,342.333252,257.433866,321.993552,126.940455,467.210125,456.938184,NaN,NaN
min,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,NaN,NaN
25%,921.000000,-200.000000,711.000000,50.000000,637.000000,53.000000,1185.000000,700.000000,NaN,NaN
50%,1053.000000,-200.000000,895.000000,141.000000,794.000000,96.000000,1446.000000,942.000000,NaN,NaN
75%,1221.000000,-200.000000,1105.000000,284.000000,960.000000,133.000000,1662.000000,1255.000000,NaN,NaN
max,2040.000000,1189.000000,2214.000000,1479.000000,2683.000000,340.000000,2775.000000,2523.000000,NaN,NaN

# `pandas` (`df.values`) --> `numpy`

In [12]:
df = pd.read_csv("datasets/winequality-white.csv", sep=";")

data = df.values

In [14]:
print(f"data.shape={data.shape}, type={type(data)}")

data.shape=(4898, 12), type=<class 'numpy.ndarray'>

In [15]:
pd.read_csv("datasets/AirQualityUCI.csv", sep=";").values

array([['10/03/2004', '18.00.00', '2,6', ..., '0,7578', nan, nan],
       ['10/03/2004', '19.00.00', '2', ..., '0,7255', nan, nan],
       ['10/03/2004', '20.00.00', '2,2', ..., '0,7502', nan, nan],
       ...,
       [nan, nan, nan, ..., nan, nan, nan],
       [nan, nan, nan, ..., nan, nan, nan],
       [nan, nan, nan, ..., nan, nan, nan]], dtype=object)

# Materia≈Çy dodatkowe
* Poritosh Mahto, *Pandas For Machine Learning*, https://medium.com/mlpoint/pandas-for-machine-learning-53846bc9a98b

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=4cc6bcc9-1a16-4028-bf3b-b94228fbcf03' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>